.btn[disabled] {
  opacity:          0.3;
}

.btn {
  border-radius:    10px;
  cursor:           pointer;
  cursor:           hand;
  height:           40px;
}

.btn-primary {
  background:       $sky-blue;
  border:           0 solid $sky-blue;
}

.btn-primary:hover {
  background:       $blue;
}

.btn-danger-stroke {
  background:       white;
  border:           2px solid $tomato;
  color:            $tomato;
  padding:          8px 12px;
  text-transform:   uppercase;
}

.btn-danger-stroke:active,
.btn-danger-stroke:focus,
.btn-danger-stroke:hover {
  background:       $tomato;
  color:            white;
}

.btn-warning-stroke {
  background:       white;
  border:           2px solid $bumblebee;
  color:            $bumblebee;
  margin-right:     10px;
  padding:          8px 12px;
  text-transform:   uppercase;
}

.btn-warning-stroke:active,
.btn-warning-stroke:focus,
.btn-warning-stroke:hover {
  background:       $bumblebee;
  color:            white;
}

.btn-success-stroke {
  background:       white;
  border:           2px solid $esmerald;
  color:            $esmerald;
  padding:          8px 12px;
  text-transform:   uppercase;
}

.btn-success-stroke:active,
.btn-warning-stroke:focus,
.btn-success-stroke:hover {
  background:       $esmerald;
  color:            white;
}