$blue:                        #028fc3;
$bumblebee:                   #f8a02e;
$cherry:                      #a94442;
$cloud:                       #f6f6f6;
$dark-gray:                   #444444;
$dark-magenta:                #8e297a;
$deep-tomato:                 #b94a48;
$esmerald:                    #00a651;
$gray:                        #dddddd;
$medium-gray:                 #757575;
$orange:                      #ff6600;
$peach-pink:                  #f7eded;
$purple:                      #400080;
$sea-green:                   #31bac1;
$sky-blue:                    #1da8eb;
$teal:                        #006666;
$tomato:                      #d9534f;