$blue:                #028fc3;
$bumblebee:           #ffcf0f;
$cherry:              #ff0f3f;
$cloud:               #f6f6f6;
$dark-gray:           #444444;
$deep-tomato:         #b94a48;
$esmerald:            #1fce6d;
$gray:                #dddddd;
$medium-gray:         #757575;
$peach-pink:          #f5e4e4;
$sea-green:           #31bac1;
$sky-blue:            #1da8eb;