$cloud:               #f6f6f6;
$gray:                #dddddd;
$medium-gray:         #757575;
$dark-gray:           #444444;
$sky-blue:            #1da8eb;
$sea-green:           #31bac1;
$bumblebee:           #ffcf0f;
$cherry:              #ff0f3f;
$esmerald:            #1fce6d;
