.form-control {
  color:                      $dark-gray;
  font-size:                  1em;
  height:                     40px;
  margin:                     0 0 25px 0;
}

li.parsley-required, 
li.parsley-type,
li.parsley-length {
  color:                      $deep-tomato;
  font-size:                  0.9em;
  list-style:                 none;
  height:                     0;
  margin:                     -25px 0 25px 0;
  text-align:                 right;
}

input.parsley-error, 
select.parsley-error, 
textarea.parsley-error {
  background-color:           $peach-pink;
  border-color:               $cherry;
  color:                      $deep-tomato;
}

input.parsley-error:focus,
select.parsley-error:focus,
textarea.parsley-error:focus {
  -webkit-box-shadow:         inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
  border-color:               $cherry;
  box-shadow:                 inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
}