.form-control {
  color:                      $dark-gray;
  font-size:                  1em;
  height:                     40px;
  margin:                     0 0 25px 0;
}

li.parsley-required, 
li.parsley-type,
li.parsley-length {
  color:                      $deep-tomato;
  font-size:                  0.9em;
  list-style:                 none;
  height:                     0;
  margin:                     -25px 0 25px 0;
  text-align:                 right;
}

.has-error .form-control,
.has-error .form-control:focus,
input.parsley-error, 
select.parsley-error, 
textarea.parsley-error {
  background-color:           $peach-pink;
  border-color:               #a94442;
  color:                      $deep-tomato;
}