.img-background {
  background:      url(../images/photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
}

.brand-wrap {
  background:       url(../images/logo_fulltime.svg) no-repeat center center;
  height:           380px;
  margin-top:       11%;
  position:         absolute;
  width:            60%;
}

.brand-collapse {
  display:          none;
  color:            $sky-blue;
  font-size:        4em;
  text-align:       center;
}

.description-box {
  background:       rgba(0,0,0,0.1);
  bottom:           0;
  color:            white;
  padding:          1%;  
  position:         absolute;
  width:            100%;  
}

.description-txt {
  font-size:        1.3em;
  line-height:      1.6em;
}

.sidebox {
  background:       white;
  border-radius:    10px;
  margin:           10% 10% 0 0;
  position:         absolute;
  right:            0;
  max-width:        400px;
}

.tab {
  border-bottom:    4px solid $sky-blue;
  float:            left;
  height:           60px;
  line-height:      60px;
  margin-bottom:    20px;
  text-align:       center;
  width:            50%;
}

.tab-link {
  color:            $dark-gray;
  font-weight:      bold;
  text-transform:   uppercase;
}

.tab-disabled {
  background:       $gray;
  border-bottom:    4px solid $gray;
  border-radius:    0 10px 0 0;
  color:            $dark-gray;
}

.paragraph-margin {
  margin:           25px 0 15px;
}

.check-margin {
  margin:           10px 0 30px;
}

.title-line {
  margin:           0 0 15px 0;
}

.title {
  color:            $sky-blue;
  display:          inline-block;
  font-size:        1.2em;
  font-weight:      bold;
  line-height:      30px;
  text-transform:   uppercase;
}

.title-chart {
  font-size:        1.2em;
  margin-top:       20px;
  text-align:       left;
}

.disabled {
  opacity:          0.4;
}

.date-select {
  border-radius:    2px;
  padding:          0 5px;
  float:            right;
}

.date-select:active,
.date-select:focus,
.date-select:hover {
  background:       rgba(0,0,0,0.1);
}

.date-dropdown {
  line-height:      30px;
  padding:          1.1em 0;
}

.dropdown-menu .divider {
  margin:           4px 0;
}

.align-right {
  text-align:       right
}

.align-center {
  text-align:       center;
}

.disabled {
  cursor:           default;
  opacity:          0.4;
}

.box {
  background:       white;
  border:           1px solid $gray;
  border-radius:    5px;
  margin:           0;
  padding:          0 10px;
}

.box-fix {
  margin:           10px 0;
  padding:          10px;
}

.line {
  margin:           10px 0;
}

.block-label {
  float:            left;
}

.block-time {
  margin:           auto;
  text-align:       center;
  width:            124px;
}

.block-buttons {
  float:            right;
  margin-top:       5px;
}

.block-balance {
  display:          inline-block;
  font-size:        1.2em;
  padding:          5px 0;
  width:            48%;
}

.block-results {
  display:          inline-block;
  font-size:        1.4em;
  font-weight:      600;
  padding:          5px 0;
  text-align:       right;
  width:            50%;
}

.label-hour {
  font-size:        1.2em;
  font-weight:      normal;
  line-height:      50px;
}

.hourpicker {
  border:           $gray 1px solid;
  border-radius:    5px;
  font-size:        1.6em;
  height:           50px;
  padding:          0 10px;
  width:            115px;
}

.hourpicker:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  border-color:     #66afe9;
  box-shadow:       inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.timepicker_wrap {
  background:       white;
  padding:          5px 0;
  top:              52px;
  width:            182px;
}

.time, 
.mins, 
.meridian {
  width:            60px;
  margin:           0;
}

.timepicki-input {
  font-weight:      500;
}

.btn {
  height:           40px;
  padding:          10px;
}

.btn-primary {
  background:       $sky-blue;
  border:           0 solid $sky-blue;
}

.btn-primary:hover {
  background:       $blue;
}

html input[disabled] {
  background:       $gray;
  cursor:           default;
}

.table {
  margin:           0 0 10px 0;
}

.table-responsive {
  border:           0 solid white;
}

.table>thead>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>th, 
.table>tbody>tr>td, 
.table>tfoot>tr>th, 
.table>tfoot>tr>td {
  border-top:       0 solid white;
  font-size:        1.1em;
  padding:          15px;
}

.table>thead>tr>th {
  border-bottom:    1px solid #ddd;
  vertical-align:   middle;
}

.nav-justified>li>a, 
.nav-tabs.nav-justified>li>a,
.nav-pills>li>a {
  border-radius:    0;
}

.form-group {
  margin-bottom:    20px;
}

.no-margin {
  margin:           0 -15px;
}

@media only screen and (max-width: 439px) {
  body {
    overflow-x:     hidden;
  }

  canvas {
    width:          45% !important;
    margin-left:    15px !important;
  }

  span {
    font-size:      10px !important;
    margin-left:    15px;
  }

  .brand-wrap {
    display:        none;
  }

  .brand-collapse {
    display:        block;
  }

  .description-box {
    display:        none;
  }

  .sidebox {
    margin:         10% auto;
    left:           0;
    right:          0;
    width:          300px;
  }

  .date-dropdown {
    padding:        1.1em 6.5em 1.1em 0;
  }

  .date-select {
    background:     white;
    border:         1px solid $gray;
    border-radius:  5px;
    float:          none;
    padding:        0 10px;
    width: 100%;
  }

  .label-hour {
    line-height:    20px;
  }

  .block-label {
    display:        block;
    width:          100%;
  }

  .block-time {
    text-align:     left;
    margin:         0;
  }

  .timepicker_wrap {
    margin-left:    -6px;
    margin-top:     25px;
  }

  .table>thead>tr>th, 
  .table>thead>tr>td, 
  .table>tbody>tr>th, 
  .table>tbody>tr>td, 
  .table>tfoot>tr>th, 
  .table>tfoot>tr>td {
    font-size:      0.9em;
    padding:        10px 3px;
  }
}

@media screen and (min-width: 440px) and (max-width: 992px) {
  canvas {
    width:          70% !important;
    margin-left:    15px !important;
  }

  span {
    font-size:      10px !important;
    margin-left:    15px;
  }

  .brand-wrap {
    display:        none;
  }

  .brand-collapse {
    display:        block;
  }

  .description-box {
    display:        none;
  }

  .sidebox {
    margin:         0 auto;
    left:           0;
    right:          0;
    top:            10%;
    width:          100%;
  }

  .label-hour {
    line-height:    20px;
  }

  .block-label {
    display:        block;
    width:          100%;
  }

  .block-time {
    text-align:     left;
    margin:         0;
  }

  .timepicker_wrap {
    margin-left:    -6px;
    margin-top:     25px;
  }

  .table>thead>tr>th, 
  .table>thead>tr>td, 
  .table>tbody>tr>th, 
  .table>tbody>tr>td, 
  .table>tfoot>tr>th, 
  .table>tfoot>tr>td {
    font-size:      0.9em;
    padding:        10px 3px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width:          1500px;
  }
}