body {
  font-family:              "Open Sans", Helvetica, Arial, sans-serif;
  font-size:                1.3em;
  line-height:              1.4em;
  background:               $cloud;
  color:                    $dark-gray;
}

a {
  color:                    $dark-gray;
  cursor:                   pointer;
  cursor:                   hand;
  transition:               0.3s;
}

a:active,
a:focus,
a:hover {
  color:                    black;
  text-decoration:          none;
  transition:               0.3s;
}

ol, ul {
  margin:                   0;
  padding:                  0;
}

li {
  list-style-type:          none;
}

hr {
  border:                   0;
  border-bottom:            1px solid rgba(0,0,0,0.08);
  border-top:               1px solid rgba(0,0,0,0.0);
  height:                   0;
  margin:                   10px 0;
}

tr {
  cursor:                   pointer;
  cursor:                   hand;
  transition:               0.3s;
}

label {
  font-weight:              normal;
}

input,
select,
textarea {
  font-size:                0.9em;
}

html input[disabled] {
  background:               $gray;
  cursor:                   default;
}

.table>thead>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>th, 
.table>tbody>tr>td, 
.table>tfoot>tr>th, 
.table>tfoot>tr>td {
  font-size:                1.15em;
}

.table>tbody>tr:hover,
.table-striped>tbody>tr:hover,
 {
  background:               rgba(0,0,0,0.1);
}
