<nav class="navbar navbar-default">
  <div class="container">
    <a class="brand-header" href="day.html">
      <i class="icon-clock brand-icon"></i>
      <logotype class="icon-fulltime"></logotype>
    </a>
    <div class="dropdown user-tag">
      <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" class="user-tag-link">
      <i class="icon-user"></i>
      <label class="user-label">Nome de Usuário</label>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="#" class="disabled" data-toggle="tooltip" data-placement="top" title="Em breve!">Configurações</a>
        </li>
        <li>
            <a href="../index.html">Sair</a>
        </li>
      </ul>
    </div>
    <menu id="nav">
      <ul>
        <a href="day.html">
          <li>            
            <i class="icon-calendar-day menu-icon"></i>
            <div class="menu-link">Dia</div>
          </li>
        </a>
        <a href="week.html">
          <li>            
            <i class="icon-calendar-week menu-icon"></i>
            <div class="menu-link">Semana</div>
          </li>
        </a>
        <a href="month.html">
        <li>            
          <i class="icon-calendar menu-icon"></i>
          <div class="menu-link">Mês</div>            
        </li>
        </a>
        <a href="charts.html">
          <li>
            <i class="icon-chart menu-icon"></i>
            <div class="menu-link">Estatísticas</div>
          </li>
        </a>
      </ul>
    </menu>
  </div>
</nav>