<nav class="navbar navbar-default">
  <div class="container">
    <div class="brand-header">
      <i class="icon-clock"></i>
      <logotype class="icon-fulltime"></logotype>
    </div>
    <div class="dropdown user-tag">
      <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" class="user-tag-link">
      <i class="icon-user"></i>
      <label class="user-label">Nome de Usuário</label>
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
            <a href="#">Configurações</a>
        </li>
        <li>
            <a href="#">Sair</a>
        </li>
      </ul>
    </div>
    <menu id="nav">
      <ul>
        <li class="active">
          <a href="day.html">
            <i class="icon-calendar-day menu-icon"></i>
            <div class="menu-link">Hoje</div>
          </a>
        </li>
        <li>
          <a href="week.html">
            <i class="icon-calendar-week menu-icon"></i>
            <div class="menu-link">Semana</div>
          </a>
        </li>
        <li>
          <a href="month.html">
            <i class="icon-calendar menu-icon"></i>
            <div class="menu-link">Mensal</div>
          </a>
        </li>
        <li>
          <a href="charts.html">
            <i class="icon-chart menu-icon"></i>
            <div class="menu-link">Estatísticas</div>
          </a>
        </li>
      </ul>
    </menu>        
  </div>
</nav>